html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#main {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}
#app {
    height: 100%;
    width: 100%;    
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}